@import 'naturalcrit/styles/core.less';

@media print {
input {
border: none !important;
background: transparent !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}
}

.printPage{
	height : 100%;



	.renderer{

		.sheetContainer{
			margin: 0;

			.sheet{

				margin:0;
				box-shadow: none;
			}
		}
	}

}