
.skill{
	position      : relative;
	margin-bottom : -3px;
	padding-left  : 0.7em;
	&>i{
		margin    : 0px -2px;
		cursor    : pointer;
		font-size : 0.7em;
		&.alt{
			margin-left: -3px;
			margin-right: 1px;
		}
		&.expert{
			position : absolute;
			top      : 5px;
			left     : 0px;
		}
	}
	.fa-square-o,.fa-square{
		-webkit-transform : rotate(45deg);
		-moz-transform    : rotate(45deg);
		transform         : rotate(45deg);
	}
	&>.field{
		width            : 2.2em;
		margin-right     : 0.4em;
		margin-left      : 0.2em;
		font-size        : 0.6em;
		background-color : transparent;


		display: inline-block;

		border-bottom    : 1px solid black;
		//outline          : none;
		input{
			width : 100%;
			border           : none;
			font-size        : 1em;
			text-align       : center;
			&:focus{
				background-color : #ddd;
			}
		}

	}
	&>label{
		font-size      : 0.6em;
		text-transform : uppercase;
		small{
			margin-left    : 5px;
			font-size      : 0.8em;
			color          : #000;
			text-transform : uppercase;
		}
	}
}