.editor{
	position : relative;
	width    : 100%;
	.editorBar{
		background-color : #ddd;
		.animate(background-color, 0.5s);

		//padding-bottom: 8px;
		height : 35px;
		overflow: hidden;

		.editorButton{
			cursor : pointer;
			display: inline-block;
			margin-bottom: 8px;

			padding       : 8px;
			font-size     : 13px;

			&:hover, &.selected{
			//	background-color : #999;
			}

			.text{
				line-height : 20px;
				.groupName{
					margin-left : 6px;
					font-size   : 10px;
				}
			}
		}
	}

}