
@borderImage : url('/assets/tpk/parts/box/border.png');
@shadowImage : url('/assets/tpk/parts/box/shadow.png');
.box{
	position : relative;
	display  : inline-block;
	flex:none;

	//TODO Remove?
	&.expand{
		//flex-grow : 1 1;
		//flex-direction: column;
		//flex :1;
	}
	&>.outline{
		position : relative;
		height   : 100%;
		width    : 100%;
		&>.content{
			position        : relative;
			display         : flex;
			height          : 100%;
			width           : 100%;
			flex-direction  : row;
			justify-content : flex-start;
			flex-wrap       : wrap;
			align-content   : flex-start;
		}
	}
	&.vertical>.outline>.content{
		//flex-direction : column;
	}
	&.space>.outline>.content{
		align-content : space-around;
	}
	&.hasTitle>.outline{
		padding-top : 12px;
	}
	&.hasLabel>.outline{
		padding-bottom : 13px;
	}
	&.border{
		padding-top    : 6px;
		padding-bottom : 5px;
		padding-right  : 5px;
		padding-left   : 6px;
		&>.outline{
			padding             : 0px 2px;
			background-color    : white;
			border              : initial;
			border-style        : solid;
			border-image-outset : 4px;
			border-image-slice  : 50 60 50 60;
			border-image-source : @borderImage;
			border-image-width  : 20px;
			&>h5{
				&.title{
					top : -2px;
				}
				&.label{
					bottom : -2px;
				}
			}
		}
		&.hasTitle>.outline{
			padding-top : 6px;
		}
		&.hasLabel>.outline{
			padding-bottom : 6px;
		}
	}
	&.shadow{
		padding-top    : 3px;
		padding-bottom : 2px;
		padding-right  : 2px;
		padding-left   : 3px;
		&>.outline{
			padding             : 2px 4px;
			background-color    : @shadowGrey;
			border              : initial;
			border-style        : solid;
			border-image-outset : 0px 0px;
			border-image-slice  : 25 25 25 25;
			border-image-source : @shadowImage;
			border-image-width  : 10px;
			&>h5{
				&.title{
					top : 4px;
				}
				&.label{
					bottom : 3px;
				}
			}
		}
		&.hasTitle>.outline{
			padding-top : 12px;
		}
		&.hasLabel>.outline{
			padding-bottom : 10px;
		}
	}
	//Headers
	&>.outline>h5{
		position       : absolute;
		left           : 0px;
		width          : 100%;
		text-align     : center;
		text-transform : uppercase;
		&.title{
			top : 2px;
		}
		&.label{
			bottom : 2px;
		}
	}
	&.guides{
		//see tpk.less
	}

	//Borders
	&.borderRight, &.borderLeft{
		&:after{
			content : '';
			position: absolute;
			top : 0px;
			width : 1.1px;
			height : 100%;
			background: linear-gradient(transparent, #888 20%, #888 50%, #888 80%, transparent);
		}
	}
	&.borderTop, &.borderBottom{
		&:after{
			content : '';
			position: absolute;
			left : 0px;
			height : 1.1px;
			width : 100%;
			background: linear-gradient(to right, transparent, #888 20%, #888 50%, #888 80%, transparent);
		}
	}
	&.borderRight:after{ right : 0px;}
	&.borderLeft:after{ left : 0px;}
	&.borderTop:after{ top : 0px;}
	&.borderBottom:after{ bottom : 0px;}
}