
@altBackground : url('/assets/tpk/parts/statBox/alt.png');
@modBackground : url('/assets/tpk/parts/statBox/mod.png');
.statBox{
	position  : relative;
	min-width : 70px;

	-webkit-print-color-adjust:exact;

	&.hasMod{
		padding-top: 13px;
	}

	&.hasAlt{
		input.value{
			padding-bottom: 7px;
		}
	}

	input.value{
		box-sizing  : border-box;
		width       : 100%;
		height       : 100%;
		//font-family : 'Open Sans', sans-serif;
		font-size   : 2em;
		font-weight : 800;
		text-align  : center;
		border      : none;
	}

	.mod div, .alt div{
		display          : block;
		margin           : 0 auto;
		background-color : transparent;
		background-size  : cover;
		background-repeat: no-repeat;


		input{
			text-align       : center;
			border           : none;
			width : 100%;
			font-weight: 800;
			font-size: 0.75em;

		}
	}

	.mod{
		position : absolute;
		top   : -12px;
		left     : 0px;
		width    : 100%;
		&>div{
			background-image : @modBackground;
			height           : 22px;
			width            : 43px;
		}
	}
	.alt{
		position : absolute;
		bottom   : -10px;
		left     : 0px;
		width    : 100%;
		&>div{
			height: 24px;
			width: 43px;
			background-image : @altBackground;
			input{
				padding-top: 4px;
			}
		}

	}
}
