.pip{
	cursor: pointer;
	&>span.title{
		font-size: 0.8em;
		margin-right: 0.3em;
		user-select: none;
		-webkit-user-select: none;
	}
	&>span.label{
		font-size: 0.8em;
		margin-left: 0.3em;
		user-select: none;
		-webkit-user-select: none;
	}

	i{
		font-size: 1.0em;
	}

}