
.pip{
	cursor : pointer;
	display: inline-block;
	&>span.title{
		margin-right        : 0.3em;
		font-size           : 0.8em;
		user-select         : none;
		-webkit-user-select : none;
	}
	&>span.label{
		margin-left         : 0.3em;
		font-size           : 0.8em;
		user-select         : none;
		-webkit-user-select : none;
	}
	i{
		font-size : 1.0em;
	}

	/*
	.fa-square-o,.fa-square{
		-webkit-transform : rotate(45deg);
		-moz-transform    : rotate(45deg);
		transform         : rotate(45deg);
	}
	*/
}