
.sheet{
	position         : relative;
	display          : block;
	z-index          : 15;
	box-sizing       : border-box;
	overflow         : hidden;
	padding          : 1.0cm 1.0cm;
	background-color : white;
	&.letter{
		height : 279.4mm;
		width  : 215.9mm;
		&.landscape{
			height : 215.9mm;
			width  : 279.4mm;
		}
	}
	&.iso{
		height : 297mm;
		width  : 210mm;
		&.landscape{
			height : 210mm;
			width  : 297mm;
		}
	}

	/*  Base Elements  */
	h1{
		font-family: 'Cinzel', serif;
		font-weight: 900;
	}

	h5{
		font-size      : 0.5em;
		font-weight    : 800;
	}

	input[type='text']{
		border : none;
	}
}