
.box{
	position       : relative;
	display : inline-block;
	box-sizing     : border-box;

	padding : 5px;

	overflow: hidden;

	&>.content{
		padding        : 10px;
		box-sizing     : border-box;
		position: relative;
		width : 100%;
		height : 100%;
	}


	&.flex>.content{
		display        : flex;
		flex-direction : row;
		flex-wrap      : wrap;
	}


	&.border>.content{
		border : 1px solid black;
		background-color: white;
	}
	&.shadow>.content{
		background-color : #ddd;
	}
	h5{
		width          : 100%;
		font-size      : 0.5em;
		font-weight    : 800;
		text-align     : center;
		text-transform : uppercase;
		position: absolute;
		&.title{
			top : 2px;
			left : 0px;
		}
		&.label{
			bottom : 2px;
			left : 0px;
		}
	}
}