
.textBox{
	&>.outline>.content>textarea{
		box-sizing  : border-box;
		resize      : none;
		height      : 100%;
		width       : 100%;
		font-family : 'Open Sans', sans-serif;
		font-size   : 0.7em;
		//line-height : 1.4em;
		background-size: 16px;
		border      : none;
	}
	&.lines>.outline>.content>textarea{
		background-image : url('/assets/tpk/parts/textBox/linebg.png');
		//background-size  : 1.4em;
		background-size: 16px;
	}
}